<!DOCTYPE html>
<html>
<head>
  <title>Active record visualizer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "active_record_visualizer/application", media: "all" %>
  <%= javascript_include_tag "active_record_visualizer/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
